
* {
  transition: 0.3s;
}
.sidebar {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.sidebar.active {
  transform: translateX(0);
}
@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
  }
}
.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}
.fixed-sidebar {
  position: fixed;
  top: 64px;
  height: calc(100% - 64px);
  z-index: 40;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5A6C85; /* Scrollbar thumb color */
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1D2939; /* Scrollbar track color */
  }
  
  /* Hover effect for better UI */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #789DBC;
  }
  